<form [formGroup]="myForm">
    <div class="container mt-5 px-5 border border-dark">
        <div class="my-5 text-center">
            <h2>Agendar Nueva cita</h2>
        </div>

        <div class="form-group">
            <label for="patient">Paciente</label>
            <select [(ngModel)]="patientSelect"  formControlName="patient"class="form-control" placeholder="selecion">
                <option *ngFor="let patient of patients" [value]="patient.id">{{ patient.name }}</option>
            </select> 
            <!-- <input  type="text" formControlName="patient" placeholder="Seleccione una paciente" class="form-control"> -->
            <!-- <input  type="text" formControlName="patient" placeholder="Seleccione una paciente" class="form-control"> -->
            <span *ngIf="isValid('patient')" class="text-danger">Este campo es requerido</span>

        </div>
        <div class="form-group">
            <label for="date">Fecha</label>
            <input type="date" formControlName="date" placeholder="Seleccione una fecha" class="form-control">
            <span *ngIf="isValid('date')" class="text-danger">Este campo es requerido</span>        </div>

        <div class="form-group">
            <label for="hour">Hora</label>
            <select [(ngModel)]="hourSelect" formControlName="hour" class="text-center form-control" placeholder="selecion">
                <option *ngFor="let hour of hours" [value]="hour">{{ hour }}</option>
            </select>            
            <!-- <input type="time" formControlName="hour" placeholder="Seleccione una hora" class="form-control"> -->
            <span *ngIf="isValid('hour')" class="text-danger">Este campo es requerido</span>
        </div>
        <div class="form-group">
            <label for="comments">Comentarios</label>
            <input type="text" formControlName="comments" placeholder="Ingrese un comentario" class="form-control">
            <span *ngIf="isValid('comments')" class="text-danger">Este campo es requerido</span>
            <span *ngIf="myForm.controls['comments'].getError('pattern') && myForm.controls['comments'].touched " class="text-danger"> No se permite caracteres especiales</span>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-6 d-flex justify-content-center">
                <button type="submit" class="w-75 btn btn-outline-dark"  (click)="save()" [disabled]="!myForm.valid">Guardar</button>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <button type="button" class="w-75 btn btn-outline-dark" (click)="close.emit()" >Cancelar</button>
            </div>
        </div>
    </div>
</form>