/* You can add global styles to this file, and also import other style files */

.iconSize{
    font-size: x-large;
}

label{
    font-size: medium;
    font-weight: bolder;
}

p{
    font-weight: bolder;
}